<div nz-row nzGutter="16">

  <!-- grid 12 -->
  <div nz-col nzSpan="8">

    <!-- form -->
    <form nz-form [formGroup]="form" (ngSubmit)="onCreate()">

      <nz-form-item>
        <nz-form-label [nzSpan]="4">name</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">type</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select nzAllowClear formControlName="type" nzPlaceHolder="Choose">
            <nz-option nzLabel="input" nzValue="input"></nz-option>
            <nz-option nzLabel="select" nzValue="select"></nz-option>
            <nz-option nzLabel="autocomplete" nzValue="autocomplete"></nz-option>
            <nz-option nzLabel="datepicker" nzValue="datepicker"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="18" [nzOffset]="4">
          <button nz-button nzType="primary" [disabled]="form.invalid">Create</button>
        </nz-form-control>
      </nz-form-item>

    </form>

  </div>

  <!-- grid 12 -->
  <div nz-col nzSpan="16">

    <!-- tab -->
    <nz-tabset class="code-tabset">

      <!-- html -->
      <nz-tab nzTitle="HTML">
        <section (mouseleave)="onMouseChange('')" (mouseenter)="onMouseChange('html')">
          <app-copy-button *ngIf="code === 'html'" [code]="codeHtml"></app-copy-button>
          <pre><code [appHighlight]="codeHtml" class="lang-html"></code></pre>
        </section>
      </nz-tab>

      <!-- typescript -->
      <nz-tab nzTitle="TYPESCRIPT">
        <section (mouseleave)="onMouseChange('')" (mouseenter)="onMouseChange('typescript')">
          <app-copy-button *ngIf="code === 'typescript'" [code]="codeTypescript"></app-copy-button>
          <pre><code [appHighlight]="codeTypescript" class="lang-typescript"></code></pre>
        </section>
      </nz-tab>

    </nz-tabset>

  </div>

</div>