/* You can add global styles to this file, and also import other style files */
.ant-layout-content {
  min-height: auto;
}
.code-tabset {
  min-height: calc(100vh - 160px);
  padding: 0 16px;
  border: 1px solid #e8e8e8;
}
