form {
  textarea {
    width: 100%;
    height: calc(100vh - 160px);
    margin-bottom: -5px;
    resize: none;
  }
}
.code-tabset {
  textarea {
    width: 100%;
    height: calc(100vh - 235px);
    resize: none;
  }
}
.button-grid {
  display: flex;
  justify-content: center;
}
