<div nz-row nzGutter="16">

  <!-- grid 11 -->
  <div nz-col nzSpan="11">

    <!-- tab -->
    <nz-tabset class="code-tabset">

      <!-- mock -->
      <nz-tab nzTitle="JSON">
        <form nz-form [formGroup]="form">
          <textarea formControlName="json"></textarea>
        </form>
      </nz-tab>

    </nz-tabset>

  </div>

  <!-- grid 2 -->
  <div nz-col nzSpan="2" class="button-grid">
    <button nz-button nzType="primary" nzShape="circle" (click)="onCreate()">
      <i nz-icon nzType="right" nzTheme="outline"></i>
    </button>
  </div>

  <!-- grid 11 -->
  <div nz-col nzSpan="11">

    <!-- tab -->
    <nz-tabset class="code-tabset">

      <!-- mock -->
      <nz-tab nzTitle="MOCK">
        <section>
          <textarea [(ngModel)]="codeMock"></textarea>
          <!-- <pre><code [appHighlight]="codeMock" class="lang-typescript"></code></pre> -->
        </section>
      </nz-tab>

      <!-- model -->
      <nz-tab nzTitle="MODEL">
        <section>
          <textarea [(ngModel)]="codeModel"></textarea>
          <!-- <pre><code [appHighlight]="codeModel" class="lang-typescript"></code></pre> -->
        </section>
      </nz-tab>

      <!-- service -->
      <nz-tab nzTitle="SERVICE">
        <section>
          <textarea [(ngModel)]="codeService"></textarea>
          <!-- <pre><code [appHighlight]="codeService" class="lang-typescript"></code></pre> -->
        </section>
      </nz-tab>

    </nz-tabset>

  </div>

</div>